.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img, svg {
  vertical-align: middle;
  shape-rendering: auto;
}

.transition-all-custom {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}